<div class="row justify-content-center align-items-center p-4" style="min-height: 80vh;">
  <div class="col-lg-8 col-md-10">
    <div class="row align-items-center">
      <!-- Profile image -->
      <div class="col-md-4 text-center pe-md-4">
        <div id="container" class="my-2">
          <div id="dummy"></div>
          <div id="element">
            <img src="{{ site.author.image }}"
              alt="{{ site.title }}"
              class="circle-image wow animate__animated animate__slideInLeft"
              data-wow-delay=".1s">
          </div>
        </div>
      </div>

      <!-- Introduction text -->
      <div class="col-md-8 text-start ps-md-4">
        <p class="text-body-secondary wow animate__animated animate__slideInRight" data-wow-delay=".15s">{{ site.tagline }}</p>
        <p class="text-body-secondary wow animate__animated animate__slideInRight" data-wow-delay=".2s">{{ site.description }}</p>
      </div>
    </div>
  </div>
</div>
